.breadcrumb{
    padding: 40px 14px;
    list-style:none;
    
    li{
      display:inline;
      font-size:10px;
      text-transform:uppercase;
      font-family:$primary-font;
       +li:before{
        padding:6px;
        color:black;
        content:"/\00a0";
      }
      a{
        color:gray;
        text-decoration:none;
       &:hover{
          color:black;
          text-decoration:underline;
      }
    }
  }
}