.column-container{
    max-width: 1400px;
    width:100%;
    position:relative;
    margin: 0 auto; 
    text-align:center;   
  }
  
  .item-container{
    display:inline-block;
    //width:25%;
    width:300px;
    height:450px;
    background: #fcf8f2;
    box-shadow: 1px 2px 16px 10px rgba(230,230,230,0.53);
    position:relative;
    text-align:center;
    margin-left:40px;
    margin-bottom:110px;
    
       
    .image{
      background-color: silver;
      width: 300px;
      height:75%;
      margin-bottom:25px;
      border-radius: 5px 5px 50px 0px;
  }

    .label{
      font-size: 20px;
      text-transform:capitalize;
      font-family:$copy-font;
    }
    .price{
      @include price;
    }
  }