.drop-container{
    margin-top: 70px;
    margin-bottom:70px;
    
.list-ul{
    display:flex;
    justify-content:center;
    .list-li{
      padding-right:40px;
    }
  .dropdown{
    max-width: 135px;
    position:relative;
    display:inline-block;

  .dropbtn {
    color: black;
    padding: 0 0 0 0;
    font-size: 16px;
    border-bottom: 1px solid;
    cursor: pointer;
    }

    #dropdown-list{
      display:none;
      position:absolute;
      background-color:whitesmoke;
      z-index:1;
      
      a{
        display:block;
        width: 104px;
        padding:8px 16px;
        text-decoration: none;
        color:black;  
        
        &:hover{
          background-color:silver;
          text-decoration:underline;
        }
      }
    }
  }  
  }  
}