.email{
    margin-top: 200px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 55px;
    //border-bottom: 1px solid black;

    .email-title{
        font-size: 3em;
        font-family: $primary-font;
    }
    .email-paragraph{
        font-size: 1.5em;
        font-family: $copy-font;
    }

    .email-input{
        font-size: 1em;
        height: 38px;
        max-width: 400px;
        width:100%;
        @include outline-killer;
    }
    .email-button{
        color: white;
        border:none; 
        text-decoration: none;
        font-family: $copy-font;
        padding: 7px;
        text-transform: uppercase;
        background-color:black;
        &:hover{
            background-image:linear-gradient(to bottom right, gray, whitesmoke);
            color:black;
            border:1px solid;
            transition: linear 0.5s;
        }
    }
}