footer{
    width: 100%;
    height: auto;
    position: relative;
    
    //.row{} 

    .column{
        width:200px;
        height:170px;
        float:left;
        margin-left:10%;
        box-sizing:border-box;
        padding: 0px 20px 20px 10px;
        border-left: 1px solid;
        margin-bottom:20px;
       
       
        
        h3{
            font-size:25px;
            font-weight: 500;
            color:black;
            font-family:$primary-font;
            margin-bottom:5px;
        }

        li{
            font-size:20px; 
            font-family:$copy-font; 
            line-height: 25px;         
        }

    } 
    
    .col-1{
        border-left:none;
    }

}

        
       
    
    
    



