.flex-container{
    width: 100%;
	height: 200px;
    background-color:gray;
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    line-height: 1.5;
    

    .row{
        margin:10px;
        padding-left:8px;
        font-size: 15px;
        font-family: $copy-font;

        h3{
            font-size:20px;
            font-weight: 500;
        }   
    }
    .vl{
        border-left: 1px solid gray;
        height: 190px;
        padding-left: 0px;
        margin-left: 190px;
        color:black,
    }
    .collection{
        padding-left: 18%;
    }
}
.icon{
    margin-right: 18px;
    font-size: 30px; 
}
