
$primary-font: 'Monteserrat', sans-serif;
$copy-font: 'Niramit';
$font-color: black;
$size-font: 20px;


.hero{
	width: 100%;
	height: 100%;
	background-image: url(../pictures/background1.png);
	background-repeat: no-repeat;
	position: relative;
	align-content: center;
	//background-color:gray;	
	
	.head{
		top:50%;
    	transform:translateY(-50%);
    	position:relative;
   	 	max-width:50%;
   	 	width: 100%;
    	margin:0 auto; 
		line-height: 2;   
	
		.title{
			font-family: $primary-font;
			font-size:45px;
			text-transform:uppercase;
			@include space-letter;
		}
		.title-p{
			font-family: $copy-font;
			font-size: 25px;
			}

			.shop-button{
				color: #fff;
				display: inline-block;
				text-decoration: none;
				font-family: $copy-font;
				font-size: 20px;
				font-style:normal;
				font-weight: 400;
				background-color: #000;
				border: solid 1px #000;
				padding: 20px 25px;
				margin-top: 25px;
				text-transform: uppercase;
				@include space-letter;
				}
		}
}
		


	

// Media screens for responsive area
	@media screen and(max-width:1506px){
		.hero{
			.head{
		.title{
			font-size: 40px;
		}
		}
		}
	}


	@media screen and (max-width: 1299px){
		.hero{
			background-image: url(../pictures/birds-small.jpg);
			transition: all 0.3s linear;
				
			.head{
				top:45%;
				.title{
					font-size: 40px;
				}
			}	
		}
		.nav-main{
			display:none;
		  }
		  .menu-button{
			padding-left: 95%;	
		}
	}




	@media screen and(min-width:1298px){
		.hero{
			transition: all 0.3s linear;
		}
		.menu-button{
			display:none;
		}		
	}

	@media screen and(max-width:613px){
		.hero{
			background-image: none;
			top:45%;
			transform: translateY(-35%);
		
		.head{

			.title{
				font-size: 30px;
			}
			.title-p{
				font-size:20px;
			}		
		}
	}
		
	}
	@media screen and(max-width: 938px){
		body{

		.sidenav{
			background: black;
			transition: all 0.3s linear;
			a{
				color:#fff;
			}
		}
	}
}

	

	 