$primary-font: 'Monteserrat', sans-serif;
$copy-font: 'Niramit';



.grid{
    max-width: 1180px;
    width:100%;
    margin:0 auto;
    background: rgba(173, 173, 173, 0.2);
    height: 885px;
    font-size: 0px;
    
    .coll{
      //font-size: 12px;
      max-width: 25%;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      height: 100%;
     @media screen and(max-width:800px){
       .coll{
         max-width:100%;
       }
     }
      
      .square{
        height: 295px;
        width: 100%;
        background: silver;
        border: 1px solid #CCC;
        color: #fff;
        &:nth-of-type(even){
        background: rgba(85, 84, 84, 0.1);
        color: black;
      }
      &:nth-of-type(3){
        background: black;
      }

        article{
          position:relative;
          top:50%;
          transform: translatey(-50%);
          width: 250px;
          margin: 0 auto; 
          text-align:center;
          line-height: 25px;         
        }
        &.big{
          height: 590px;
          background: rgb(168, 168, 168);
        }
        h1{
            font-size: 25px;
            font-family: $primary-font;
            text-transform: uppercase;
        }
        p{
            font-family: $copy-font;
        }
        p:nth-of-type(even){
            font-size: 25px;           
        }
        p:nth-of-type(odd){
            font-size: 15px;     
        } 
      }
    }
  }