

.lookbook{
    margin-top: 40px;
    margin-bottom:40px;
    text-align: center;
    font-family:$primary-font;
    font-size: 25px;
}

.img-slider{
    max-width: 1100px;
    height:170px;
    width:100%;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    margin-bottom: 70px;

    .img-slide{     
        margin:0 auto;
        font-size:0;
        width: 2200px;
        
        .list{
            width:275px;
            display:inline-block;
            &:active{
                display:none;
            }
            .pic{
                width: 100%;
                height:170px;
                border:1px solid;
                z-index:50;
            }
        }
    }

    .prev{
        display:block;
        width:40px;
        height:187px;
        background: whitesmoke;
        position:absolute;
        left:0px;
        top:0;
        line-height:175px;
        color:#FFF;
        text-decoration:none;
        text-align:center;
        font-size: 40px;
        color:black;
      }

      .next{
        display:block;
        width:40px;
        height:187px;
        background: whitesmoke;
        position:absolute;
        right:0px;
        top:0;
        line-height:175px;
        color:#FFF;
        text-decoration:none;
        text-align:center;
        font-size:40px;
        color:black;
      }
}