@mixin navbar-list-def{
	position:relative;
	display:inline-block;  
}

@mixin nav-font-def{
	display:inline-block;
	font-family: $primary-font;
	font-size: $size-font;
	color: $font-color;
	letter-spacing:4px;  
}

@mixin space-letter{
	letter-spacing:4px;
}

@mixin border-style{
	border:1px solid black;
}

@mixin label-format{
	text-transform: uppercase;
    margin-bottom:8px;
    font-family: $primary-font;  
}
@mixin input-specs{
	width:315px;
    height:40px;
    font-size:15px;
}