.email-modal{
	display: none;
	//position:fixed;
	margin:0 auto;
	z-index:1;
	left:0;
	top:0;
	width:500px;
	height:100px;
	border:1px solid #888;
	background-color: rgba(0,0,0,0.5);
	border-radius:70px;
}

.email-modal-content{
	background-color:white;
	margin:2% auto;
	border:1px solid #888;
	width:85%;
	height:80%;
	font-family:$copy-font;
	//font-size:10px;
	text-align:center;
	position:relative;
	border-radius:60px;
	p{
	    margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
		font-size:20px;
	}
}
.email-modal-close{
	color:silver;
	float:right;
	font-size:28px;
	font-weight:bold;
	padding-right:30px;
	padding-top:10px;
	&:hover{
		color:black;
		text-decoration:none;
		cursor:pointer;
	}
}