
.nav-main{
	width:100%;
	padding-bottom:20px;
	padding-top:20px;
  //margin-top:15px;
	background:black;
	//border-bottom:5px solid black;

}
   
	.nav-list-left{
	  	@include navbar-list-def;
	  .nav-left{
			@include nav-font-def;
			padding-right:15px;
			margin-left: 20px;
			&:hover{
				text-decoration:underline;
		}
	}
}
	
	.nav-list-right{
	  	@include navbar-list-def;
	  	float: right;
	  .nav-right{
				@include nav-font-def;
				padding-left: 15px;
				margin-right:20px;
				&:hover{
					text-decoration:underline;
			}
	  }
	}

	a{
	  color:gray;
	  text-decoration:none;
	}  
	
	
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.1);
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 140px;

		:hover{
			font-size:26px;
			}

	  	a {
			padding: 30px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			font-family: $copy-font;
			color: black;
			display: block;
			transition: 0.3s;
		
	}
	   .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 45px;
			margin-left: 50px;
	  }
	}

	  .menu-button{	
			float:right;
			padding: 40px 40px 0 0 ;
			font-size:35px; 
			cursor: pointer;
			transition: 0.3s;
			position:relative;
			z-index: 1;
	  }


		/*responsive part*/
		@media screen and (max-width: 1299px){
			.nav-main{
				display:none;
				}
				.menu-button{
				padding-right: 90%;	
			}
		}		

		@media screen and(min-width:1299px){
			.menu-button{
				display:none;
				color:transparent;
			}		
		}

		@media screen and(max-width: 938px){
			body{
	
			.sidenav{
				background: black;
				transition: all 0.3s linear;
				a{
					color:#fff;
				}
			}
		}	
	}