
.slider-container{
  margin: 40px auto;
	width:840px;
	height:150px;
  overflow:hidden;


img{
  width:200px;
  }
}






button.slick-next, button.slick-next:hover {
  position: absolute;
  top: 50%;
  right: 0;
  width: 47px;
  height: 75px;
  background-size: 75px;
}

button.slick-prev, button.slick-prev:hover {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 47px;
  height: 75px;
  background-size: 75px;
  background-position-x: right;
}