.zig-zag-section{
	width:100%;
	margin: 70px auto;
	text-align:center;
	
	.line-list{
		display:inline-block;
		margin-right: -16px;
		
		.list{
			font-size:50px;
			display:inline-block;
			margin-right:31px;
			transform:rotate(-55deg);
			color:orange;
			text-decoration: none;
			&:nth-child(2){
				transform:rotate(55deg);
			}	
		}	
	}
}