//First version
/*
.zig-zag-section{
	width:100%;
	margin: 70px auto;
	text-align:center;
	
	.line-list{
		display:inline-block;
		margin-right: -16px;
		
		.list{
			font-size:50px;
			display:inline-block;
			margin-right:31px;
			transform:rotate(-55deg);
			color:orange;
			text-decoration: none;
			&:nth-child(2){
				transform:rotate(55deg);
			}	
		}	
	}
}
*/

.zig-zag-section{
	margin: 50px auto;
	text-align:center;
	
	ul{
		
		.zig-zag-list-item{
			display:inline-block;
			width:50px;
			height:50px;
			border-bottom: 2px solid orange;
			border-right:2px solid orange;
			transform:rotate(45deg);
			margin:7px;
		}
	}
}