.zig-zag-section{
	width:100%;
	margin: 70px auto;
	text-align:center;
	
	.line-list{
		display:inline-block;
		margin-right: 4px;
		.list{
			font-size:50px;
			display:inline-block;
			margin-right:9px;
			transform:rotate(-55deg);
			color:orange;
			
			&:nth-child(2){
				transform:rotate(55deg);
			}	
		}	
	}
}